@import 'vars';

.navPage {
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
	border-bottom: 1px solid var(--very-light-pink);
	box-shadow: 2px 2px 10px 2px rgba(17, 17, 17, 0.782);
	background-color: white;
}
.menu {
	display: none;
}
.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
}
.navbar-left {
	display: flex;
}
.navbar-left ul {
	margin-left: 12px;
}
.createProductsButton{
	text-decoration: none;
	color: white;
	border: 1px solid var(--white);
	margin-top: 10px;
	padding: 10px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 8px;
}
.navbar-email {
	color: var(--very-light-pink);
	font-size: var(--sm);
	margin-right: 50px;
	cursor: pointer;
}
.navbar-email:hover{
	color: rgb(25, 214, 25);
}
.navbar-shopping-cart {
	position: relative;
	left: 20px;
	cursor: pointer;
}
.navbar-shopping-cart div {
	width: 16px;
	height: 16px;
	background-color: var(--hospital-green);
	border-radius: 50%;
	font-size: var(--sm);
	font-weight: bold;
	position: absolute;
	top: -6px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button{
	position: absolute;
	margin-left: 500px;
}

@media (max-width: 640px) {
	.menu {
		display: block;
	}
	.navbar-left ul {
		display: none;
	}
	.navbar-email {
		display: none;
	}
}
